@font-face {
    font-family: "kaushanscript";
    src: url('./fonts/kaushanscript/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('./fontskaushanscript/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e3e2e1;
}
h1, h2, h3, nav {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: sticky;
    top: 0;
}
.links {
    color: black;
    font-weight: bold;    
}
.links:hover {
    background-color: navy;
    color: white;
}
#header_bar {
    color: white;
    background-color: #151a15;
    font-family: Arial, Helvetica, sans-serif;   
    height: 4.5vh;
    margin: 0;
}
nav {
    float: right;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 1vh;
    padding-right: 4vw;
}
.navigation {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 130%;
}
a {
    color: #95bd95;
    
}
#main_page {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
#cover_image {
    width: 100vw;
    height: auto;
    border-bottom: 15px solid #151a15;
    border-left: 10px solid #151a15;
    border-right: 10px solid #151a15;
}
#name_on_cover {
    z-index: 5;
    color: blanchedalmond;
    position: relative;
    left: 8em;
    bottom: 6.5em;
    font-size: 300%;
    padding: 0;
    line-height: 1.2em;
    margin: 0;
    font-family: cursive;
}
#name_text_box {
   float:left;
}
#bio_section, #projects_section, .main_page, #resume_section{
    min-height: 70vh;
}
#contact_section {
    min-height: 90vh;
}
.main_pages {
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 5px;
    background-color: #fcfffd;
}
a {
    text-decoration: none;
}
.outer_bio {
    text-align: center;
}
#inner_bio {
    display: inline-block;
    text-align: left;
    width: 30vw;
}
#resume_section {
    align-items: center;
    text-align: center;
}
.resume_headings {
    margin-top: .55em;
    margin-bottom: .55em;
}
.resume_cs {
    width: 30vw;
}
#outer_resume {
    text-align: center;
    font-size: .95em;
}
#inner_resume {
    display: inline-block;
    text-align: left;
}
.resume_element {
    margin-bottom: .25em;
}
.date {
    float: right;
}
#projects_section {
    text-align: center;
}
#inner_projects {
    display: inline-block;
    text-align: left;
    width: 55vw;
}
a:hover {
    background-color: white;
}
#contact_section {
    text-align: center;
}
#in_logo {
    height: 3.5vh;
    width: 2vw;
}
#send_email {
    color: white;
    background-color: #151a15;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}
#send_email:hover {
    background-color: white;
    color: #151a15;
}
@media screen and (max-width: 1100px) {
    #name_on_cover {
        left: 6.2em;
        bottom: 5.5em;
    }
    #inner_bio {
        width: 50vw;
    }
    .page_break {
        font-size: .75em;
        font-weight: bold;
} 
@media screen and (max-width: 900px) {
    #name_on_cover {
        left: 5.8em;
        bottom: 5.3em;
        font-size: 2.4em;
    }
    #main_page, #projects_section {
        min-height: 35vh;
    }
    #contant_section {
        height: 70vh;
    }
    .resume_cs {
        width: 68vw;
    }
    .page_break {
        font-size: .5em;
        font-weight: bold;
}
}
@media screen and (max-width: 700px) {
    .main_pages {
        width: 90vw;
    }
    #inner_bio {
        width: 70vw;
    }
    #name_on_cover {
        left: 4.8em;
        bottom: 4.8em;
    }
   #inner_projects {
    width: 70vw;
   }
} 
@media screen and (max-width: 500px) {
    #name_on_cover {
        left: 3.5em;
        bottom: 4.6em;
        font-size: 1.9em;
    }
    .page_break {
        font-size: .06em;
        font-weight: bold;
}
    .main_pages {
        width: 95vw;
}
    #inner_resume {
        padding: 5px;
    }
    .resume_cs {
        width: 78vw;
    }
    #resume_link {
        font-size: .9em;
    }
    video {
        width: 70vw;
    }
}
@media screen and (max-width: 400px) {
    #name_on_cover {
        left: 3em;
        bottom: 4em;
    }
}

